<head>
<title>--==||==--</title>
<meta http-equiv="content-type" content="text/html; charset=ISO-8859-1"> 
<link rel="stylesheet" type="text/css" href="/static/css/eoe.css" />
<script type="text/javascript" src="/static/js/eoe.js"></script>
<script type="text/javascript" src="/static/js/jquery-1.9.1.min.js"></script>
</head>
<body onload="init();">
  <div id="canvas-container">
    <div id="airport" class="console-text">;(</div>
    <div id="center-console" "console-text">
      <div id="canvas-div" class="console">
			<canvas id="webgl-canvas" width="1024" height="768"></canvas>
      </div>
    </div>
    <div id="text">
      Text Will Go Here.
    </div>
  </div>
</body>